/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    line-height: 1.6;
}

/* Main Content */
.main-content {
    padding: 20px;
    margin-top: 80px; /* Space for sticky navbar */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

/* Top Content Section */
.top-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

a.spotify-link {
    color: #1db954;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a.spotify-link:hover {
    color: #1ed760;
    text-decoration: underline;
}

/* Top Row */
.top-row {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    width: 100%;
}

/* Top Column */
.top-column {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: calc(50% - 15px);
}

.top-column h2 {
    font-size: 2rem;
    color: #1db954;
    margin-bottom: 15px;
}

/* Song List */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #333333;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #444444;
}

ul li a {
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    color: #1db954;
}

/* Popularity Score */
ul li .popularity-score {
    color: #b3b3b3;
    font-size: 0.9rem;
}

/* Form Styles */
form {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

form .date-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .btn-submit, form .btn-reset {
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form .btn-submit:hover, form .btn-reset:hover {
    background-color: #1ed760;
}

/* Breakpoints */
@media screen and (max-width: 768px) {
    .top-column {
        width: 100%;
    }

    .top-row {
        flex-direction: column;
        gap: 20px;
    }
}
